header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "Jost", sans-serif;
}

body {
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-bottom: 20px; /* Add spacing at the bottom of the main content */
  align-items: center;
  justify-content: center;
}

nav {
  min-height: 25vh;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 30px;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #333;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
}

nav a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-top: auto; /* Push the footer to the bottom */
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fbf9f9;
  font-family: "HK Grotesk", sans-serif;
  margin-bottom: 20px;
}

.content {
  min-height: 35vh;
  max-width: 52%; /* Set a maximum width for better readability */
  margin-left: 20px; /* Adjust the left margin */
}
