header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: "HK Grotesk", sans-serif;
}

body {
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-bottom: 20px; /* Add spacing at the bottom of the main content */
}

nav {
  min-height: 85vh;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 30px;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #333;
  color: #333;
  background-color: #fff;
  border-radius: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
}

nav a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
